<?xml version="1.0"?>

<launch>
    <node name= "userInt" pkg= "assignment_three" type= "input_controller.py"  output= "screen"  />
   
   <node name= "choice1" pkg= "assignment_three" type= "choice1.py"  output="screen"  />

 <node name= "input_key" pkg= "assignment_three" type= "choice2.py"  output="screen" />

</launch>
